<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hku.projectapi.Mapper.Users.UserMapper">
    <select id="searchAlumni" resultType="com.hku.projectapi.Beans.User.UserBean">
        select * from users where
        <if test = "school != null and school != ''">
            school = #{school}
        </if>
        <if test = "company != null and company != ''">
            or company = #{company}
        </if>
    </select>
</mapper>